body
    height 95%
    margin-right 0
    user-select none

html
    height 100%

#control-panel-wrapper
    float left
    display inline-block
    width 15%

#control-panel
    width 245px
    margin 0 auto

    .panel-section
        width 100%
        padding 3px
        margin-bottom 5px
        border 1px solid gray

        h4
            margin 0 auto 0 auto

    #control-panel-dimensions
        p
            display inline-block
            margin-top 0

        input
            float right

        button
            width 100%

    #control-panel-tiles
        #control-panel-tiles-list
            overflow auto

            .tile-row
                img, p, input, button
                    display inline-block
                    margin 0 5px 0 5px
                    vertical-align middle

        button
            width 50%

    #control-panel-map
        button
            width 50%

#map-wrapper
    float right
    display inline-block
    width 85%
    height 100%
    text-align center
    overflow none

.editable-grid
    display inline-block
    user-select none
    background-color rgb(245, 245, 245)
    margin 0
    padding 0
    box-shadow inset 0 0 1px black
    cursor default

    table
        padding 0
        margin 0
        border-collapse collapse
        border-spacing 0
        tr
            padding 0
            margin 0
            td
                margin 0
                padding 0
                box-shadow inset 0 0 1px black

.editable-grid-tile
    display inline-block
    box-shadow inset 0 0 1px black
    user-select none
    cursor default

.editable-grid-tile-hover
    box-shadow inset 0 0 5px black !important

.dialog
    display none
    width 40%
    background-color white
    box-shadow 0 0 20px black
    border-radius 15px
    padding 15px

    .dialog-header
        display inline-block
        width 100%
        margin 0

        h2
            margin 0

#import-dialog
    height 60%

    .dialog-header
        height 20%
        #import-dialog-file-button
            width 40%
            margin 0
            padding 0

        #json-file-browse-wrapper
            display none
            float right
            width 60%
            margin 0
            p
                display inline-block
                padding 0
                margin 0

    #import-dialog-options
        display inline-block
        width 100%
        margin 0

        #import-dialog-file-button
            float left
            width 50%

    area
        cursor pointer

    .import-dialog-column
        display none
        width 50%
        overflow auto

    #import-dialog-preview-wrapper + *
       clear both

    #import-dialog-config-wrapper
        float right

        p
            display inline-block
            margin 0
            width 35%

        input, img
            margin 0

        input[type="file"]
            width: 50%

        img
            width 16px
            height 16px

        #import-dialog-add-tile-button
            float right

#export-dialog
    height 200px

    .dialog-header
        height 30%

    .export-dialog-column
        display inline-block
        margin 0
        width 49%
        height 70%

        p
            margin 0

    #export-dialog-image
        float left

    #export-dialog-json
        float right

.export-dialog-data-wrapper
    display inline-block
    width 100%
    text-align center
    overflow-x auto
    margin-top 5%

    img
        border 1px solid gray

    textarea
        resize none
        width 95%
        height 95%

#create-tile-dialog
    width 800px
    user-select none

    .dialog-header
        button, select
            float right
            padding 0
            display inline-block

        h2
            display inline-block

        canvas
            left 50px

    #tile-being-edited-wrapper
        display inline-block
        float left
        width 70%

        input
            width 512px
            text-align center
            margin 0 0 5px 0
            padding 0
            border none
            box-shadow inset 0 0 1px black

        #tile-being-edited
            display block
            width 512px
            height 512px
            line-height 0
            user-select none
            background-color rgb(245, 245, 245)

            div
                display inline-block
                box-shadow inset 0 0 1px black
                margin 0 auto
                user-select none
                width 16px
                height 16px

    #tile-editor-color-picker-wrapper
        display inline-block
        width 30%
        float right

.input-error
    border 1px solid red !important

#export-map-dialog
    .export-dialog-data-wrapper
        margin-top 1% !important

    p
        padding 0
        margin 0

// for the leanModal plugin: http://leanmodal.finelysliced.com.au/
#lean_overlay
    position fixed
    z-index 100
    top 0
    left 0
    height 100%
    width 100%
    background gray
    display none