doctype 5
html
    head
        title Map Editor
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/spectrum.css')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/jquery.tinysort.min.js')
        script(src='/javascripts/jquery.leanModal.min.js')
        script(src='/javascripts/jquery.mousewheel.min.js')
        script(src='/javascripts/spectrum.js')
        script(src='/javascripts/kinetic.min.js')
        script(src='/javascripts/grid.js')
        script(src='/javascripts/tile.js')
        script(src='/javascripts/map.js')

    body
        #control-panel-wrapper
            #control-panel
                #control-panel-map(class='panel-section')
                    h4 Map
                    hr
                    button#control-panel-map-export-button(href='#export-map-dialog', rel='leanModal') Export
                    button#control-panel-map-import-button(href='#import-map-dialog', rel='leanModal') Import

                #control-panel-tiles(class='panel-section')
                    h4 Tiles
                    hr
                    #control-panel-tiles-list
                    hr
                    div
                        input#replace-tiles-checkbox(type="checkbox", checked="true", name="replace-tiles")
                        label(for="replace-tiles") Replace Tiles
                    button#delete-tile-button Delete
                    button#create-tile-button(href='#create-tile-dialog', rel='leanModal') Create
                    button#control-panel-tiles-export(href='#export-dialog', rel='leanModal') Export
                    button#import-dialog-link(href='#import-dialog', rel='leanModal') Import

        #map-wrapper
            #map

        #import-map-dialog.dialog
            .dialog-header
                h2 Import Map
                hr
            input#import-map-dialog-file-browse(type='file')

        #export-map-dialog.dialog
            .dialog-header
                h2 Export Map
                hr
            p Save this text as a .json file by copy/pasting into a blank .json file.
            .export-dialog-data-wrapper

        #create-tile-dialog.dialog
            .dialog-header
                h2 Create Tile
                button#create-tile-save-button Save
                button#create-tile-dialog-clear Clear
                select#create-tile-load-list
                    option(value='-1', disabled) Load Existing Tile
                hr
            #tile-being-edited-wrapper
                input#create-tile-dialog-name(type='text', placeholder='Name')
                #tile-being-edited
            #tile-editor-color-picker-wrapper
                input#create-tile-dialog-color-picker(type='text')
                br
                canvas#create-tile-dialog-preview-canvas

        #export-dialog.dialog
            .dialog-header
                h2 Export Tileset
                hr
            #export-dialog-image.export-dialog-column
                p Save this image by right clicking and saving as, or dragging the image into a directory.
                .export-dialog-data-wrapper
            #export-dialog-json.export-dialog-column
                p Save this text as a .json file by copy/pasting into a blank .json file.
                .export-dialog-data-wrapper

        #import-dialog.dialog
            .dialog-header
                h2 Import Tileset
                hr
                input#import-dialog-file-button(type='file')
                #json-file-browse-wrapper
                    p Import JSON:
                    input#import-dialog-json-file-button(type='file')
                hr
            #import-dialog-preview-wrapper.import-dialog-column
            #import-dialog-config-wrapper.import-dialog-column
                div
                    p Preview:
                    img#import-dialog-preview-image
                div
                    p Name:
                    input#import-dialog-name-attr(type='text')
                div
                    p Can walk on:
                    input#import-dialog-can-walk-attr(type='checkbox', checked)
                button#import-dialog-add-tile-button Add
                br
                hr

        script
            $(function() {
                new map(new tile());
            });